.contact-section {
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}
.option-panel.option-panel-collased{
	display:none;
}
.contact-section .login-box {
    background: #fff;
    max-width:950px;
    border-radius: 20px;
    margin: 0 auto;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}

.contact-section .form-section {
    text-align: center;
    padding: 50px;
    border-radius: 10px 0 0 10px;
}

.contact-section .bg-img {
    background: rgba(0, 0, 0, 0.04) url(../img/contact.jpg) top left repeat;
    background-size: cover;
    top: 0;
    bottom: 0;
    border-radius:0 20px 20px 0;
    opacity: 1;
    width: 100%;
    z-index: 999;
    min-height: 496px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-section-bg{
    background: #f7f7f7;
}

.contact-section .pad-0{
    padding: 0;
}

.contact-section .info{
    padding: 30px;
    text-align: center;
    border: solid 5px #ffffff;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 0 auto;
}

.contact-section .info h3{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #fff;
}

.contact-section .form-section p{
    color: #fff;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 500;
}

.contact-section .form-section p a{
    color: #fff;
    font-weight: 500;
}

.contact-section .form-section ul{
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
}

.contact-section .form-section .social-list li {
    display: inline-block;
    margin-bottom: 5px;
}

.contact-section .logo-2 img{
    margin-bottom: 10px;
    height: 45px;
}

.contact-section .form-section .thembo{
    margin-left: 4px;
}

.contact-section .form-section h3 {
    margin: 0 0 25px;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #505050;
}

.contact-section .form-section .form-group {
    margin-bottom: 25px;
}

.contact-section .form-section .form-box {
    float: left;
    width: 100%;
    text-align: left;
    position: relative;
}

.contact-section .form-section .form-box input {
    float: left;
    width: 100%;
}

.contact-section .form-section .input-text {
    padding: 10px 20px;
    font-size: 15px;
    outline: none;
    height: 50px;
    background: rgba(23, 23, 23, 0.72);
    color: #616161;
    border-radius: 50px;
    font-weight: 500;
    border: 1px solid transparent;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.contact-section .form-section .checkbox .terms{
    margin-left: 3px;
}

.contact-section .form-section .btn-md {
    cursor: pointer;
    padding: 15px 50px 13px 50px;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 50px;
}

.contact-section .form-section input[type=checkbox], input[type=radio] {
    margin-right: 3px;
}

.contact-section .form-section button:focus {
    outline: none;
    outline: 0 auto -webkit-focus-ring-color;
}

.contact-section .form-section .btn-theme.focus, .btn-theme:focus {
    box-shadow: none;
}

.contact-section .form-section .btn-theme {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border: none;
    color: #fff;
}

.contact-section .form-section .btn-theme:hover {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.2);
}

.contact-section .none-2{
    display: none;
}

.contact-section .logo{
    top: 40px;
    position: absolute;
    left: 65px;
}

.contact-section .form-section .terms{
    margin-left: 3px;
}

.contact-section .btn-section {
    border-radius: 50px;
    margin-bottom: 25px;
    display: inline-block;

    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.contact-section .btn-section .btn-1 {
    border-radius: 50px 0 0 50px;
    border-right: solid 2px #e6e6e6;
}

.contact-section .btn-section .link-btn {
    font-size: 13px;
    float: left;
    background: transparent;
    letter-spacing: 1px;
    font-weight: 950;
    text-align: center;
    text-decoration: none;
    text-decoration: blink;
    line-height: 30px;
    width: 90px;
    color: #505050;
}

.contact-section .btn-section .btn-2 {
    border-radius: 0 50px 50px 0;
}

.contact-section .form-section .checkbox {
    font-size: 14px;
}

.contact-section .form-section .form-check{
    float: left;
    margin-bottom: 0;
}

.contact-section .form-section .form-check a {
    color: #fff;
    float: right;
}

.contact-section .form-section .form-check-input {
    position: absolute;
    margin-left: 0;
}

.contact-section .form-section .form-check label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 2px;
    margin-left: -25px;
    border: 1px solid #c5c3c3;
    border-radius: 3px;
    background-color: #fff;
}

.contact-section .form-section .form-check-label {
    padding-left: 25px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}

.contact-section .form-section input[type=checkbox]:checked + label:before {
    font-weight: 300;
    color: #f3f3f3;
    line-height: 15px;
    font-size: 14px;
    content: "\2713";
}

.contact-section .form-section input[type=checkbox], input[type=radio] {
    margin-top: 4px;
}

.contact-section .form-section a.forgot-password {
    font-size: 15px;
    color: #616161;
    float: right;
    line-height: 50px;
}

.contact-section .social-list a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    font-size: 17px;
    margin: 2px;
    border-radius: 5%;
    background: #fff;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}

.contact-section .social-list a:hover{
    color: #fff;
}
